body {
    --ext-graph-background-container: var(--background-primary);
    --ext-graph-background-container-opacity: 0.9;
}

/* Container */
.graph-legend-container,
.graph-views-container {
    background-color: rgb(from var(--ext-graph-background-container) r g b / var(--ext-graph-background-container-opacity));
    border: 1px solid var(--background-modifier-border);
    box-shadow: var(--shadow-s);
    border-radius: var(--radius-m);
    padding: var(--size-4-2);

    &:hover {
        --ext-graph-background-container-opacity: 1;
    }

    > .setting-item:last-child {
        padding-bottom: 0;
    }
}

.is-phone .graph-legend-container,
.is-phone .graph-views-container {
    --input-height: 30px;

    button, select {
        font-size: var(--font-ui-smaller);
    }
}

/* LEGEND */

.graph-legend-container {
    --input-height: 1.7em;

    position: absolute;
    bottom: var(--size-4-3);
    left: var(--size-4-3);
    right: var(--size-4-3);
    margin-inline: auto;
    width: fit-content;
    max-width: calc(100% - 2 * var(--size-4-3));
    display: flex;
    flex-direction: column;
    overflow: auto;

    &.is-closed {
        display: none;
    }

    .setting-item-info {
        flex-grow: 0;
    }

    .setting-item-name {
        font-variant: small-caps;
        width: 5ch;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .setting-item-control {
        justify-content: flex-start;
    }

    .graph-legend {
        background-color: rgb(var(--legend-color-rgb));
        color: var(--legend-text-color);
        padding: var(--size-2-2) var(--size-4-2);
        border-radius: var(--radius-s);
    }

    .graph-legend.is-hidden {
        background-color: rgba(var(--legend-color-rgb), 0.1);
        color: var(--text-faint);
        font-weight: unset;
    }

    .graph-legend-none {
        order: 1;
    }
}

/* VIEWS */

@media (width > 800px) {
    .graph-views-container {
        max-width: calc(100% - var(--graph-controls-width) - 3 * var(--size-4-3));
    }
}

@media (width < 800px) {
    .graph-views-container {
        max-width: calc(100% - var(--icon-size) - 2 * var(--size-2-3) - 3 * var(--size-4-3));
    }
}

.graph-views-container {
    position: absolute;
    top: var(--size-4-3); left: var(--size-4-3);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--size-4-3);
}

.graph-views-container.is-closed {
    display: none;
}


.graph-views-container .setting-item-name {
    font-variant: small-caps;
}


/* MODALS */

.graph-modal-new .modal-content {
    display: flex;
    gap: var(--size-4-4);
}
.graph-modal-new input {
    flex: 1 0 0;
    font-size: var(--font-ui-medium);
    padding: var(--size-4-1) var(--size-4-3);
}

/* GRAPH CONTROLS */

.graph-controls {
    z-index: 1;
}

.graph-controls.is-close .mod-extended-graph-toggle {
    --icon-color-active: var(--text-normal);
    display: flex;
}

.mod-extended-graph-toggle.is-active {
    background-color: var(--interactive-accent);
}

.mod-views.is-active,
.mod-legend.is-active {
    background-color: hsla(var(--accent-h), var(--accent-s), var(--accent-l), 0.2);
}


.separator-exended-graph {
    --hr-thickness: 1px;
    margin-block: 0.5rem;
}

.graph-controls:not(.is-close) .separator-exended-graph {
    display: none;
}

.graph-controls.is-close .graph-controls-button.mod-extended-graph-reset,
.graph-controls.is-close .graph-controls-button.mod-views,
.graph-controls.is-close .graph-controls-button.mod-legend {
    display: flex;
    margin-top: var(--size-4-2);
}

.graph-control-section:nth-last-child(1 of .graph-control-section) {
    border-bottom: none;
}

.graph-controls .mod-extended-graph-folders .tree-item-children {
    max-height: 140px;
    overflow-y: auto;
}

.graph-controls .mod-extended-graph-folders .setting-item {
    --interactive-accent: rgb(var(--folder-color-rgb));
}

/* SETTINGS */

.is-phone .extended-graph-settings .settings-colors-container {
    input[type="color"] {
        width: calc(var(--swatch-width) + 4px);
        height: 100%;
    }
    button {
        width: fit-content;
    }
    .preview {
        display: none;
    }
}

.extended-graph-settings {

    textarea {
        resize: vertical;
        width: 100%;
    }

    .color-palette {
        flex-direction: row-reverse;
        justify-content: flex-start;
    }

    .color-palette canvas {
        border-radius: var(--radius-s);
    }

    > .setting-item-heading {
        background-color: var(--background-secondary);
        margin-top: 0.75em;
        padding-inline: 0.75em;
        border-radius: var(--radius-m);
    }
    > .setting-item-heading:not(.is-collapsed) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    > .setting-item:not(.setting-item-heading) {
        background-color: var(--background-primary-alt);
        padding-inline: 0.75em;
    }
    
    > .setting-item-heading + .setting-item {
        border-top: 0;
    }

    .setting-item-heading.mod-toggle > .setting-item-control .checkbox-container {
        order: 10;
    }

    .setting-tags         { display: var(--display-settings-tags);      }
    .setting-properties   { display: var(--display-settings-properties); }
    .setting-property-key { display: var(--display-settings-property-key); }
    .setting-links        { display: var(--display-settings-links);     }
    .setting-folders      { display: var(--display-settings-folders);   }
    .setting-images       { display: var(--display-settings-images);    }
    .setting-focus        { display: var(--display-settings-focus);    }
    .setting-shapes       { display: var(--display-settings-shapes);   }
    .setting-node-size    { display: var(--display-settings-node-size);   }

    .settings-colors-container,
    .settings-properties-container {
        flex-direction: column;
        align-items: stretch;
    }

    .setting-item.setting-color {
        justify-content: flex-start;
            
        .setting-item-info {
            display: none;
        }
    
        .setting-item-control {
            justify-content: flex-start;
        }

        input[type="text"] {
            border-color: color-mix(in srgb, var(--background-modifier-border), var(--interactive-color) 15%);
            background: color-mix(in srgb, var(--background-modifier-form-field), var(--interactive-color) 2%);
        }
    }

    > .setting-properties > .setting-item-info,
    > .setting-properties > .setting-item-control {
        display: none;
    }

    .settings-properties-container {
        flex-grow: 1;
    }

    .settings-selection-container {
        border-top: 0;
        gap: var(--size-4-2);
        padding: 0.75em 0;
        flex-wrap: wrap;
        justify-content: flex-start;

        &::after {
            content: "";
            flex: auto;
        }

        label {
            border: 1px solid var(--background-modifier-border);
            border-radius: var(--radius-s);
            padding: var(--size-2-2);
            display: flex;
            align-items: center;
            gap: var(--size-2-2);
            color: var(--text-faint);

            input[type=checkbox] {
                margin: 0;
            }
        }

        label:hover {
            border-color: var(--background-modifier-border-hover);
        }

        label.is-active {
            color: var(--text-normal);
            border-color: var(--background-modifier-border-focus);
            background-color: var(--background-modifier-form-field);
        }
    }

    .setting-item.setting-shapes {
        --svg-size: var(--icon-size);

        .setting-item-info {
            flex: 0 1 9em;
        }

        .setting-item-name {
            text-transform: capitalize;
        }

        .setting-item-control {
            overflow: hidden;
        }

        .query-string {
            flex-grow: 1;
            text-align: start;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            color: var(--text-muted);
            font-size: var(--font-ui-smaller);
            line-height: var(--line-height-tight);
        }

        svg.shape-svg {
            flex-shrink: 0;
        }

        .move-buttons {
            display: flex;
        }
        .move-buttons > * {
            padding-inline: 0;
        }
    }

    .setting-warning {
        border-top: 0;
        padding-top: 0;
    
        .setting-item-info {
            display: flex;
            justify-content: flex-end;
            gap: 0.75em;
            align-items: center;
        }
    
        .setting-item-name {
            color: var(--color-orange);
        }
    
        .setting-item-description {
            padding-top: 0;
        }
    
        .setting-item-control {
            display: none;
        }
    }
}

.graph-modal-shape-query {
    .modal-title {
        display: flex;
        gap: 15px;
        vertical-align: middle;
    }

    .rule-setting {
        align-items: flex-start;
        
        .setting-item-info {
            display: none;
        }

        .setting-item-control {
            align-items: flex-start;
            max-width: 100%;

            > *:not(.clickable-icon) {
                min-width: 20px;
                flex-shrink: 1;
            }
        }

        &.query-invalid {
            input[type="text"] {
                background-color: color-mix(in srgb, var(--background-modifier-form-field), var(--color-red) 5%);
                border-color: color-mix(in srgb, var(--background-modifier-border), var(--color-red) 50%);
            }
        }
    }

    .buttons-container {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid var(--background-modifier-border);
        padding: 0.75em 0;
    }
}


.graph-modal-shape-picker .modal-content {
    --svg-size: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--svg-size));
    gap: 30px;
    text-align: center;

    .setting-item {
        flex-direction: column-reverse;
        gap: 5px;
        border: 0;
        padding: 0;
    }

    .setting-item > * {
        margin: 0;
    }

    .setting-item-name {
        text-transform: capitalize;
    }

    svg {
        width: var(--svg-size);
    }
}
@media (hover: hover) {
    .graph-modal-shape-picker .modal-content .setting-item-control:hover {
        box-shadow: none;
        opacity: var(--icon-opacity-hover);
        color: var(--icon-color-hover);
        background-color: var(--background-modifier-hover);
    }
}

/* SHAPES */

svg.shape-svg {
    width: var(--svg-size, var(--icon-size));
}

/* BUTTONS */

.extended-graph-delete-button {
    --text-color: var(--color-red);
    color: var(--text-color);
}
.extended-graph-add-button {
    --text-color: var(--color-green);
    color: var(--text-color);
}