body {
    --ext-graph-background-container: var(--background-primary);
    --ext-graph-background-container-opacity: 0.9;
}

/* Container */
.graph-legend-container,
.graph-views-container {
    background-color: rgb(from var(--ext-graph-background-container) r g b / var(--ext-graph-background-container-opacity));
    border: 1px solid var(--background-modifier-border);
    box-shadow: var(--shadow-s);
    border-radius: var(--radius-m);
    padding: var(--size-4-2);
    z-index: 10;

    &:hover {
        --ext-graph-background-container-opacity: 1;
    }
}

/* LEGEND */

.graph-legend-container {
    position: absolute;
    bottom: var(--size-4-3);
    left: var(--size-4-3);
    right: var(--size-4-3);
    margin-inline: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: var(--size-4-3);
}

.graph-legend-row {
    display: flex;
    align-items: center;
    gap: var(--size-4-4);
}

.graph-legend-row button {
    background-color: color-mix(in srgb, var(--ext-graph-background-container), rgb(var(--legend-color-rgb)) 50%);
    padding: var(--size-4-2);
    border-radius: var(--radius-s);
    font-weight: var(--font-bold);
}

.graph-legend-row button.is-hidden {
    background-color: rgba(var(--legend-color-rgb), 0.1);
    color: var(--text-faint);
    font-weight: unset;
}

.graph-legend-row button.graph-legend-none {
    order: 1;
}

.graph-legend-title {
    font-variant: small-caps;
}

/* VIEWS */

.graph-views-container {
    position: absolute;
    top: var(--size-4-3); left: var(--size-4-3);
    max-width: calc(100% - var(--graph-controls-width) - 3 * var(--size-4-3));
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--size-4-3);
}

.graph-views-container select {
    width: 200px;
    appearance: auto;
}

.graph-views-title {
    font-variant: small-caps;
}

.graph-modal-new-view .modal-content {
    display: flex;
    gap: var(--size-4-4);
}
.graph-modal-new-view input {
    flex: 1 0 0;
    font-size: var(--font-ui-medium);
    padding: var(--size-4-1) var(--size-4-3);
}

/* TOGGLE */

.graph-toggle {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: var(--size-4-6) var(--size-4-3);
    z-index: 20;
}

.graph-toggle button.is-active {
    background-color: var(--interactive-accent);
}