.legend-graph {
    position: absolute;
    bottom: var(--size-4-6);
    left: var(--size-4-3);
    right: var(--size-4-3);
}

.legend-tags-container {
    display: flex;
    justify-content: center;
    gap: var(--size-4-4);
}

button.legend-tag {
    background-color: rgba(var(--tag-color-rgb), 0.5);
    padding: var(--size-4-2);
    border-radius: var(--radius-s);
    font-weight: var(--font-bold);
}

button.legend-tag.is-hidden {
    background-color: rgba(var(--tag-color-rgb), 0.1);
    color: var(--text-faint);
    font-weight: unset;
}